# Lab 9.1. Loops and Comprehensions

## This lab will cover:

1. Iteration using loops
2. List comprehesions
3. Conditionals

In [1]:
import pandas as pd

## 1. While Loops

### With the while loop we can execute a set of statements as long as a condition is true.

In [2]:
i = 1
while i < 6:
  print(i)
 
  i += 1

1
2
3
4
5

### Oftentimes we need to stop the loop given some conditions

In [3]:
i = 1
while i < 300:
  print(i)
  if i == 12:
    print('found 12, I exit')
    break
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
found 12, I exit

## 2. For Loops

### A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [4]:
fruits = ["apple", "banana", "cherry","tomato","pomegranate","orange"]
for element in fruits:
  print(element)

apple
banana
cherry
tomato
pomegranate
orange

In [5]:
for element in fruits:
    elementupper=element.upper()
    print(elementupper)

APPLE
BANANA
CHERRY
TOMATO
POMEGRANATE
ORANGE

In [6]:
for element in fruits:
    print(element)
    if element == 'tomato':
        print('Found the tomato, I exit')
        break

apple
banana
cherry
tomato
Found the tomato, I exit

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango","tomato","orange","berry"]
newlist = []

for item in fruits:
  if "a" in item:
    newlist.append(item)

print(newlist)

['apple', 'banana', 'mango', 'tomato', 'orange']

### To loop through a set of code a specified number of times, we can use the range() function,

In [8]:
for x in range(0,20):
  print("I am at:",x)

I am at: 0
I am at: 1
I am at: 2
I am at: 3
I am at: 4
I am at: 5
I am at: 6
I am at: 7
I am at: 8
I am at: 9
I am at: 10
I am at: 11
I am at: 12
I am at: 13
I am at: 14
I am at: 15
I am at: 16
I am at: 17
I am at: 18
I am at: 19

### We can use loops to process csv files one line at a time

In [9]:
## usual approach using pandas
dfcand=pd.read_csv('https://raw.githubusercontent.com/cs109/2015/master/Lectures/Lecture4/candidates.txt', sep='|')
dfcand

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
1   36       Samuel   Brownback         NaN     R
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
7   16         Mike    Huckabee         NaN     R
8   30       Duncan      Hunter         NaN     R
9   31       Dennis    Kucinich         NaN     D
10  37         John      McCain         NaN     R
11  20       Barack       Obama         NaN     D
12  32          Ron        Paul         NaN     R
13  29         Bill  Richardson         NaN     D
14  35         Mitt      Romney         NaN     R
15  38          Tom    Tancredo         NaN     R
16  41         Fred    Thompson          D.     R

In [10]:
## alternative approach reading one line at a time

file = open('../data/candidates.txt', "r")

for line in file:
    print(line)

file.close()

33|Joseph|Biden||D

36|Samuel|Brownback||R

34|Hillary|Clinton|R.|D

39|Christopher|Dodd|J.|D

26|John|Edwards||D

22|Rudolph|Giuliani||R

24|Mike|Gravel||D

16|Mike|Huckabee||R

30|Duncan|Hunter||R

31|Dennis|Kucinich||D

37|John|McCain||R

20|Barack|Obama||D

32|Ron|Paul||R

29|Bill|Richardson||D

35|Mitt|Romney||R

38|Tom|Tancredo||R

41|Fred|Thompson|D.|R

In [11]:
line="33|david|lopez||D"

In [12]:
lineSplit=line.strip().split('|')

In [13]:
lineSplit[0]

'33'

In [14]:
lineSplit[1]

'david'

In [15]:
lineSplit[2]

'lopez'

In [16]:
lineSplit[3]

''

In [17]:
lineSplit[4]

'D'

In [18]:
file = open('../data/candidates.txt', "r")

for line in file:
    print("This is the original unprocessed line:",line)
    lineSplit=line.strip().split('|')
    print('First name:',lineSplit[1])
    print('Surname:',lineSplit[2])
    
    print('Party:',lineSplit[4])
    print('\n')
    
    print('First name processed:',lineSplit[1].upper())
    print('Surname processed:',lineSplit[2].upper())
    
    print('\n')

file.close()

This is the original unprocessed line: 33|Joseph|Biden||D

First name: Joseph
Surname: Biden
Party: D


First name processed: JOSEPH
Surname processed: BIDEN


This is the original unprocessed line: 36|Samuel|Brownback||R

First name: Samuel
Surname: Brownback
Party: R


First name processed: SAMUEL
Surname processed: BROWNBACK


This is the original unprocessed line: 34|Hillary|Clinton|R.|D

First name: Hillary
Surname: Clinton
Party: D


First name processed: HILLARY
Surname processed: CLINTON


This is the original unprocessed line: 39|Christopher|Dodd|J.|D

First name: Christopher
Surname: Dodd
Party: D


First name processed: CHRISTOPHER
Surname processed: DODD


This is the original unprocessed line: 26|John|Edwards||D

First name: John
Surname: Edwards
Party: D


First name processed: JOHN
Surname processed: EDWARDS


This is the original unprocessed line: 22|Rudolph|Giuliani||R

First name: Rudolph
Surname: Giuliani
Party: R


First name processed: RUDOLPH
Surname processed: GIULIANI


This is the original unprocessed line: 24|Mike|Gravel||D

First name: Mike
Surname: Gravel
Party: D


First name processed: MIKE
Surname processed: GRAVEL


This is the original unprocessed line: 16|Mike|Huckabee||R

First name: Mike
Surname: Huckabee
Party: R


First name processed: MIKE
Surname processed: HUCKABEE


This is the original unprocessed line: 30|Duncan|Hunter||R

First name: Duncan
Surname: Hunter
Party: R


First name processed: DUNCAN
Surname processed: HUNTER


This is the original unprocessed line: 31|Dennis|Kucinich||D

First name: Dennis
Surname: Kucinich
Party: D


First name processed: DENNIS
Surname processed: KUCINICH


This is the original unprocessed line: 37|John|McCain||R

First name: John
Surname: McCain
Party: R


First name processed: JOHN
Surname processed: MCCAIN


This is the original unprocessed line: 20|Barack|Obama||D

First name: Barack
Surname: Obama
Party: D


First name processed: BARACK
Surname processed: OBAMA


This is the original unprocessed line: 32|Ron|Paul||R

First name: Ron
Surname: Paul
Party: R


First name processed: RON
Surname processed: PAUL


This is the original unprocessed line: 29|Bill|Richardson||D

First name: Bill
Surname: Richardson
Party: D


First name processed: BILL
Surname processed: RICHARDSON


This is the original unprocessed line: 35|Mitt|Romney||R

First name: Mitt
Surname: Romney
Party: R


First name processed: MITT
Surname processed: ROMNEY


This is the original unprocessed line: 38|Tom|Tancredo||R

First name: Tom
Surname: Tancredo
Party: R


First name processed: TOM
Surname processed: TANCREDO


This is the original unprocessed line: 41|Fred|Thompson|D.|R

First name: Fred
Surname: Thompson
Party: R


First name processed: FRED
Surname processed: THOMPSON

## 3. List comprehensions

### List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [20]:
[fruit for fruit in fruits]

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [21]:
[fruit.upper() for fruit in fruits]

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [22]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango","berry"]

newlist = [fruit for fruit in fruits if "a" in fruit]

print(newlist)

['apple', 'banana', 'mango']