# Lab 7.1. Strings and Text Data

## This session will cover:

1. Subsetting strings
2. String methods
3. String formatting
4. Regular expressions

# 0. Lets import required libraries

In [1]:
import re

In [88]:
import pandas as pd

# 1. Strings

## In Python, a string is simply a series of characters. They are created by a set of opening and matching single or double quotes. For example,

In [89]:
word = 'grail'
sent = 'a scratch'

In [90]:
word[0]

'g'

In [91]:
sent[6]

't'

In [92]:
word[0:3]

'gra'

In [93]:
word[-1]

'l'

In [94]:
word[-4:]

'rail'

# 2. String methods with Python

In [95]:
sentence='this is a really long string of words'

In [96]:
type(sentence)

str

In [97]:
sentence.capitalize()

'This is a really long string of words'

In [98]:
sentence.count('a')

2

In [99]:
sentence.count('i')

3

In [100]:
sentence.upper()

'THIS IS A REALLY LONG STRING OF WORDS'

In [101]:
sentence.startswith('this')

True

# 3. Finding patterns with python using regex

## the following resource is your friend

https://regex101.com/#python

In [102]:
## This is a regex pattern that matches digits
pattern_digits = '\d+'

In [103]:
names="13 Jodie Whittaker, John Hurn 12, Peter Capaldi 11, Matt Smith 10, David Tennant 9"

In [104]:
names

'13 Jodie Whittaker, John Hurn 12, Peter Capaldi 11, Matt Smith 10, David Tennant 9'

In [105]:
numbers = re.findall(pattern=pattern_digits, string=names)

In [106]:
numbers

['13', '12', '11', '10', '9']

In [107]:
## This is a regex pattern that matches words except digits
pattern_words = '\D+'

In [108]:
words = re.findall(pattern=pattern_words, string=names)

In [109]:
words

[' Jodie Whittaker, John Hurn ',
 ', Peter Capaldi ',
 ', Matt Smith ',
 ', David Tennant ']

In [110]:
pattern_u='\S*u+\S*'

In [111]:
words_containing_u = re.findall(pattern=pattern_u, string=names)

In [112]:
words_containing_u

['Hurn']

In [113]:
pattern_Jo='\S*Jo+\S*'

In [114]:
words_starting_with_Jo = re.findall(pattern=pattern_Jo, string=names)

In [115]:
words_starting_with_Jo

['Jodie', 'John']

# 4. String methods with Pandas

## Pandas offers string manipulation capabilities

In [176]:
hello_words= pd.Series(['hola', 'hello', 'nǐ hǎo','hallo','bonjour'], dtype="string")

In [177]:
hello_words

0       hola
1      hello
2     nǐ hǎo
3      hallo
4    bonjour
dtype: string

In [178]:
boolean_contains_a=hello_words.str.count("a")

In [179]:
boolean_contains_a

0    1
1    0
2    0
3    1
4    0
dtype: Int64

In [180]:
boolean_hallo=hello_words.str.match("hallo")

In [181]:
boolean_hallo

0    False
1    False
2    False
3     True
4    False
dtype: boolean

In [182]:
hello_words.str.upper()

0       HOLA
1      HELLO
2     NǏ HǍO
3      HALLO
4    BONJOUR
dtype: string

In [183]:
hello_words.str.split('l')

0      [ho, a]
1    [he, , o]
2     [nǐ hǎo]
3    [ha, , o]
4    [bonjour]
dtype: object

In [184]:
hello_words.str.replace('h', 'j')

0       jola
1      jello
2     nǐ jǎo
3      jallo
4    bonjour
dtype: string

In [185]:
hello_words.str.cat(sep=',')

'hola,hello,nǐ hǎo,hallo,bonjour'

In [186]:
hello_words.str[0:3]

0    hol
1    hel
2    nǐ
3    hal
4    bon
dtype: string

In [187]:
hello_words.str[0:4]

0    hola
1    hell
2    nǐ h
3    hall
4    bonj
dtype: string

# 5. Finding patterns with pandas using regex

In [150]:
numbers=pd.Series(['1', '2', '3a', '3b', '03c', '4dx'])

In [151]:
numbers

0      1
1      2
2     3a
3     3b
4    03c
5    4dx
dtype: object

In [203]:
## numbers is a pandas series object
type(numbers)

pandas.core.series.Series

In [148]:
pattern = r'[0-9][a-z]'

In [152]:
numbers.str.contains(pattern)

0    False
1    False
2     True
3     True
4     True
5     True
dtype: bool

In [154]:
numbers.str.match(pattern)

0    False
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [155]:
numbers.str.contains('\d', regex=True)

0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool

In [156]:
numbers.str.contains('\D', regex=True)

0    False
1    False
2     True
3     True
4     True
5     True
dtype: bool

In [190]:
long_strings=pd.Series(['This is a really long string','13 Jodie Whittaker', 'John Hurn 12','David Lopez 34','this is a sentencce'])

In [191]:
long_strings

0    This is a really long string
1              13 Jodie Whittaker
2                    John Hurn 12
3                  David Lopez 34
4             this is a sentencce
dtype: object

In [192]:
long_strings.str.contains('\d', regex=True)

0    False
1     True
2     True
3     True
4    False
dtype: bool

# 6. Filtering patterns with pandas using regex

## it builds on the previous step, this time we define a filter

In [196]:
digit_filter=long_strings.str.contains('\d', regex=True)

In [198]:
long_strings[digit_filter]

1    13 Jodie Whittaker
2          John Hurn 12
3        David Lopez 34
dtype: object

In [222]:
type(long_strings_numbers)

pandas.core.frame.DataFrame

# 7. Extract patterns with pandas using regex

In [227]:
long_strings

0    This is a really long string
1              13 Jodie Whittaker
2                    John Hurn 12
3                  David Lopez 34
4             this is a sentencce
dtype: object

In [223]:
long_strings_numbers=long_strings.str.extract(r'(\d+)', expand=False)

In [224]:
long_strings_numbers

0    NaN
1     13
2     12
3     34
4    NaN
dtype: object

In [230]:
pd.concat([long_strings, long_strings_numbers], axis=1)

                              0    1
0  This is a really long string  NaN
1            13 Jodie Whittaker   13
2                  John Hurn 12   12
3                David Lopez 34   34
4           this is a sentencce  NaN